@import "_style-guild.scss";
@import "_navbar.scss";


html,
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.content {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .background_img {
    background: url('../img/word1.png') no-repeat;
    width: 920px;
    height: 100%;
    // background-size: contain;
    background-position: right;
    ///重要
    background-size: 80% 98%;
    position: absolute;
    right:-20px;
    z-index: 2;
    @media (max-height:920px){
      background-size: 38vw 45.5vw;
    }

    @media (max-width:1800px) {
      background-size: 38vw 48vw;
    }

    @media (max-width:1650px) {
      background-size: 38vw 50vw;
    }

    @media (max-width:1550px) {
      background-size: 40vw 53vw;
    }
    @media (max-width:1400px) {
      background-size: 42vw 55vw;
    }
    @media (max-width:1350px) {
      background-size: 44vw 55vw;
    }
    @media (max-width:1300px) {
      background-size: 44vw 58vw;
    }
    @media (max-width:1200px) {
      background-size: 43vw 60vw;
    }
    @media (max-width:1150px) {
      background-size: 41vw 55vw;
    }
    @media (max-width:1050px) {
      background-size: 40vw 58vw;
    }
    @media (max-width:1050px) {
      background-size: 40vw 60vw;
    }
    @media (max-width:950px) {
      background-size: 38vw 54vw;
    }
    @media (max-width:900px) {
      background-size: 36vw 54vw;
    }
    @media (max-width:800px) {
      background-size: 34vw 52.5vw;
    }
    
    @media (max-width:760px) {
      display: none;
    }
  }

  .gallery-thumbs {
    height: 100vh;
    flex: 1;
    padding: 30px 30px;
    margin-left: 20px;
    z-index:3;


    .swiper-slide.swiper-slide-active{
      opacity: 1;
      transform: scale(1.5);
     }
    }

    //顯示thumbs內容
    .swiper-slide.swiper-slide-active .thumb_content {
      opacity: 1;
      transition:all 1s ease-in-out;
      
    }

    .swiper-slide {
      opacity: 0.3;
      border-radius: 100%;
      width: 110px;
      position: relative;

      @media (max-width:576px){
      width: 25vw;
      }
      @media (min-height:1024px){
        width: 15vw;
        }
      @media (min-height:1365px){
      width: 18vw;
      }
      .thumb_content {
        opacity: 0;
        position: relative;
        left: 10vw;
        bottom: 10px;
        width: 1000px;

        @media (max-width:992px){
          left:15vw;
          bottom:0px;
          top:10px;
        }
        @media (max-width:760px){
          left:25vw;
        }
        @media (max-width:576px){
          left:30vw;
        }

        .sub_title {
          position: relative;
          left: 5px;
          color: rgb(116, 114, 114);
          font-size: 5px;
          @media (max-width:760px){
            font-size:1vw;
          }
        }

        h2{
          margin: 0;
          padding: 0;
          font-size: 2.5vw;
          font-family: 'Microsoft JhengHei';
          font-weight: bold;
          cursor: pointer;
          

          @media (max-width:760px){
            font-size:4vw;
            position: relative;
            left:5px
          }

        }
        .sub_title2 {
          position: relative;
          bottom: 15px;
          left: 5px;
          color: rgb(139, 137, 137);
          padding-bottom:5px; 
          border-bottom:3px solid yellow;
          @media (max-width:760px){
            font-size:1vw;
          }
        }
      }
    }
  }

  .gallery-top {
    position: relative;
    right: -204px;
    flex: 1;
    @media (max-width:1550px){
      right: -175px;
    }
    @media (max-width:1400px){
      right: -150px;
    }
    @media (max-width:1350px){
      right: -125px;
    }
    @media (max-width:760px){
      display: none;
    }

    .swiper-wrapper {
      position: relative;
      right: 15x;

      .swiper-slide {
        clip-path: circle(41.5% at 52% 50%);
        @media (max-width:1150px){
          clip-path: circle(35.1% at 51% 50%);
        }
        @media (max-width:950px){
          clip-path: circle(30% at 51% 50%);
        }
        @media (max-width:900px){
          clip-path: circle(28% at 51% 50%);
        }
        @media (max-width:800px){
          clip-path: circle(25% at 51% 50%);
        }
        }
        @media (min-height:1024px){
          clip-path: circle(22% at 51% 50%);
        }
        @media (min-height:1365px){
          clip-path: circle(25% at 51% 50%);
      }
    }
    
    
    .swiper-slide.swiper-slide-active {
      position: relative;
      animation:move 5s infinite;
    }
  }


.swiper-slide {
  background-size: cover;
  background-position: center;
}

@keyframes move {
  0% {
    right: 0px;
  }
  100% {
    right: 50px;
  }
}

.btn-primary{
  display: none;
}