$bk_nav : #FAF3E8;
$text_color : #843120;

$bk_liner90 : linear-gradient(90deg, $bk_nav 0%, #FFFFFF 100%);
$bk_liner_n90 : linear-gradient(-90deg, $bk_nav 0%, #FFFFFF 100%);

$gap_color: rgba($color: #C9935A, $alpha: 0.7);
