.accordion-body {
  text-indent: 2em;
}

body {
  background-color: #cccccc;
}

.accordion-item {
  margin: 10px;
}

.title {
  background-color: gray;
  font-size: 36px;
  text-align: center;
  padding: 20px;
  color: #cccccc;
}
